/*
    Body
*/
body {
    font-family: 'Oswald', sans-serif;
    background: #1e1e1e;
    font-weight: 400;
    color: #b6b6b6;
    letter-spacing: -0.1px;
    margin: 10px;
    text-align: center;
}
/*
    Elements
*/
.footer,
.Pt,
.myHeader,
header,
.listado,
.techSection,
.studiesItems,
.coursesItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.II,
.imageP,
.imageP2,
.MySqlGest,
.DavidLucasWeb {
    background: #3d3d40;
    border-color: #5f5f5f;
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
}

.portafolio,
.studies,
.courses,
.tech {
    background: #969393;
    border-color: #606064;
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
    border-radius: 0px 20px 20px 0px;
}
/*
    Header
*/
.myHeader,
.hero {
    background: #231f20;
    border-color: #414141;
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
}
.myHeader {
    max-width:90vw;
    width:100%;
    margin: 10px;
    padding: 20px;
    word-spacing: 150px;
    font-size: 50px;
}
.myHeader a {
    border-width: 1px;
    border-radius: 10px;
    border-color: #3d3d40;
    border-style: solid;
    padding: 3px;
}
.hero {
    max-width: 670px;
    width: 100%;
    padding: 5px;
    margin:5px;
    margin-top: -11px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
/*
    Portfolio
*/
.portafolio {
    margin: 5px;
    max-width: 140px;
    width: 100%;
}
.DavidLucasWeb {
    max-width: 33vw;
    width: 100%;
    border-width: 1px;
    margin: 20px;
    padding: 10px;
}
.MySqlGest {
    max-width: 50vw;
    width: 100%;
    border-width: 1px;
    margin: 20px;
    padding: 10px;
}
.imageP {
    max-width: 23vw;
    max-height: 27vw;
}

.imageP2 {
    max-width: 33vw;
    max-height: 27vw;
}
/*
    Tech
*/
.tech {
    margin: 0px;
    max-width: 180px;
    width: 100%;
}
.imTech {
    max-width: 150px;
    max-height: 150px;
    width: 100%;
    height: 100%;
}
.listado {
    background: #9d9d9d;
    border-color: #dedede;
    box-sizing: border-box;
    border-width: 2px;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    max-width: 88vw;
}
.listado img {
    margin: 2px;
}
/*
    Estudios y Cursos
*/
.studies {
    max-width: 130px;
    width: 100%;
}
.II {
    max-width: 500px;
    width: 100%;
    padding: 10px;
    border-width: 1px;
    margin: 20px;
}
.II img {
    padding: 3px;
}
.courses {
    max-width: 110px;
    width: 100%;
}

/*
    Footer
*/
.footer {
    border-color: #5f5f5f;
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    background: #837e7f;
    padding: 5px;
    text-align: left;
    margin:10px;
    vertical-align: central;
}
.contact {
    display: block;
    text-align: center;
    align-content: center;
    justify-content: center;
    margin: 5px;
}
.contact h4 {
    color: #eeeeee;
}
.email_button {
    background: #9d9d9d;
    border-radius: 5px;
    color: #000000;
    margin: 5px;
    height: 35px;
    text-align: center;
}
.form_email {
    background-image: url(https://static.vecteezy.com/system/resources/previews/000/649/148/non_2x/vector-mail-icon-symbol-sign.jpg);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: right;
    max-height: 30px;
    margin:5px;
    border-radius: 5px;
    max-width: 220px;
    width: 100%;
    height: 100%;
}
.RRSS img{
    padding:5px;
}
/*
    Tipografia
*/
a {
    color: #eeecec;
    letter-spacing: 0.5px;
    text-decoration: none;
}

h1 strong {
    color: #ffffff;
}

h1 {
    font-size: 40px;
    margin-bottom: 0px;
    margin-top: 0px;
}

h2 {
    color: #e5e5e5;
    font-weight: 400;
    font-size: 35px;
    font-style: italic;
    margin-bottom: 0px;
    margin-top: 0px;
}

h3 {
    color: #f1f1f1;
    font-weight: 400;
    font-size: 40px;
    margin: 0px;
}

h4 {
    color: #ffffff;
    font-weight: 400;
    font-size: 35px;
    margin-bottom: 0px;
    margin-top: 0px;
}

h5 {
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 0px;
    margin-top: 0px;
    color: #dcdcdc;
}

h6 {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
}

p {
    margin: 4px;
}
/*
    Responsive Design
*/

@media screen and (max-width: 1592px) {
    .myHeader{
        word-spacing:80px;
        font-size:45px;
    }
    .logo {
        max-width: 8vw;
        max-height: 8vw;
        width: 100%;
        height: 100%;
    }
}
@media screen and (max-width: 1024px) {
    .myHeader {
        word-spacing: 25px;
        font-size:35px;
    }
    .logo{
        max-width:70px;
        max-height:70px;
        width:100%;
        height:100%;
    }
}

@media screen and (max-width: 768px) {
    .last{
        margin:0px;
    }
    .logo{
        padding-bottom:10px;
    }
    .DavidLucasWeb,
    .MySqlGest {
        max-width: 90vw;
        width: 100%;
    }
    .hero {
        max-width: 80vw;
        width: 100%;
    }
    .imageP {
        max-width: 45vw;
        max-height: 70vw;
        width: 100%;
        height: 100%;
    }
    .imageP2 {
        max-width: 80vw;
        max-height: 65vw;
        width: 100%;
        height: 100%;
    }
    .imTech {
        max-width: 25vw;
        max-height: 25vw;
        width: 100%;
        height: 100%;
    }
    .myHeader {
        word-spacing: 10px;
        padding:8px;
    }
    .myHeader a{
        font-size:30px;
    }
    .tech,
    .portafolio,
    .studies,
    .courses{
        font-size:5vw;
    }
    .portafolio {
        max-width: 20vw;
        width: 100%;
    }

    .studies {
        max-width: 20vw;
        width: 100%;
    }

    .courses {
        max-width: 20vw;
        width: 100%;
    }

    .tech {
        max-width: 25vw;
        width: 100%;
    }
}
@media screen and (max-width:767px) {
    .myHeader {
        width: 90vw;
        height: auto;
        display: block;
        padding:0px;
    }
    .myHeader nav{
        width:100%;
        display:block;
    }
    .myHeader nav a{
        height:auto;
        display:block;
        text-align:center;
        padding:0;
    }
    .logo{
        padding-bottom:0px;
        padding-top:10px;
    }
}
@media screen and (max-width:425px){
    .imageP,
    .imageP2{
        margin:1px;
    }
    .imRRSS {
        margin-top: 10px;
    }
    .tech,
    .portafolio,
    .studies,
    .courses {
        font-size: 10vw;
    }

    .portafolio {
        max-width: 36vw;
        width: 100%;
    }

    .studies {
        max-width: 34vw;
        width: 100%;
    }

    .courses {
        max-width: 30vw;
        width: 100%;
    }

    .tech {
        max-width: 47vw;
        width: 100%;
    }
    h1{
        font-size:30px;
    }
    h2{
        font-size:25px;
    }
    h3 {
        font-size: 25px;
    }
}


@media screen and (max-width: 375px) {
    .imRRSS {
        max-width: 20vw;
        max-height: 20vw;
        width: 100%;
        height:100%;
    }
    .form_email {
        max-width: 50vw;
        width: 100%;
    }
    .email_button {
        max-width: 18vw;
        width: 100%;
    }
    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 20px;
    }
    h3{
        font-size:20px;
    }
}