body {
    font-family: 'Oswald', sans-serif;
    background: #1e1e1e;
    font-weight: 400;
    color: #ffffff;
    letter-spacing: -0.1px;
    margin: 10px;
}

header {
    text-decoration: underline;
}


.II,
.platzi-courses,
.MSG-image,
.MySqlGest,
footer,
header {
    background: #3d3d40;
    border-color: #606064;
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
}

.MySqlGest {
    width: 680px;
    border-width: 5px;
    margin-top:20px;
    padding: 1px 1px 1px 10px;
    margin-left: 20px;
}

.MSG-image {
    border-width: 2px;
    margin-left: 42px;
    margin-right:42px;
}
.II,
.platzi-courses {
    width: 350px;
    border-width: 1px;
    padding: 1px 1px 1px 10px;
    margin-left: 20px;
    margin-top:20px;
}


.portafolioItems,
.studiesItems,
.coursesItems {
    display: flex;
    flex-wrap: wrap;
}

.UPM{
    padding:0px 0px 0px 135px;
}
/*
    Tipografia
*/
a {
    color: #dedede;
    letter-spacing: 0.5px;
}

h1 {
    font-size: 50px;
    margin-bottom: 0px;
    margin-top: 0px;
}

h2 {
    font-weight: 400;
    font-size: 50px;
    margin-bottom: 0px;
    margin-top: 0px;
}

h3 {
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 0px;
}

h4 {
    font-weight: 400;
    font-size: 35px;
    margin-bottom: 0px;
    margin-top: 0px;
}

h5 {
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 0px;
    margin-top: 0px;
}

h6 {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
}
