body {
    font-family: 'Oswald', sans-serif;
    background: #1e1e1e;
    font-weight: 400;
    color: #ffffff;
    letter-spacing: -0.1px;
    margin: 10px;

}

.II,
.platzi-courses,
.MSG1-image,
.MSG2-image,
.MySqlGest,
footer,
.myHeader,
.init {
    background: #3d3d40;
    border-color: #606064;
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px 10px 10px 10px;
}

.init1,
.init2,
.init3,
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.myHeader {
    width: 2000px;
    text-decoration: underline;
    margin-left: 10px;
    margin-right: 10px;
}

.init {
    width: 670px;
    margin-top: -1px;
    margin-bottom: 0px;
    border-top-color: #3d3d40;
    border-top-left-radius:0px;
    border-top-right-radius:0px;
}

footer,
.UPM,
.platzi-images,
.mysqlimage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.MSG1-image{
    margin-left:-10px;
    margin-right:10px;
}
.MySqlGest {
    width: 930px;
    border-width: 5px;
    margin-top: 20px;
    padding: 1px 1px 1px 10px;
    margin-left: 20px;
}

.II,
.platzi-courses {
    width: 420px;
    border-width: 1px;
    padding: 1px 1px 1px 10px;
    margin-left: 20px;
    margin-top:20px;
}


.portafolioItems,
.studiesItems,
.coursesItems {
    display: flex;
    flex-wrap: wrap;
}

/*
    Tipografia
*/
a {
    color: #dedede;
    letter-spacing: 0.5px;
}

h1 {
    font-size: 40px;
    margin-bottom: 0px;
    margin-top: 0px;
}

h2 {
    font-weight: 400;
    font-size: 40px;
    font-style:italic;
    margin-bottom: 0px;
    margin-top: 0px;
}

h3 {
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 0px;
}

h4 {
    font-weight: 400;
    font-size: 35px;
    margin-bottom: 0px;
    margin-top: 0px;
}

h5 {
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 0px;
    margin-top: 0px;
}

h6 {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
}
